body {
    /* background-color: #fbfbfb; */
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    /* left: 0; */
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 200px;
    z-index: 600;
    text-align: left;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
    margin-top: 57px;
}
a.list-group-item.list-group-item-action.py-2.ripple {
    margin: 8px;
    border: none;
    font-size: 16px;
    font-weight: 400;
}
.sidebar-heading{
    color: rgb(212, 20, 90);
    font-weight: 600 !important;
    text-align: left;
}